
.listItems{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    margin-top: 24px;
    margin: 10px;
   

}
.listItems:hover{
    background: rgb(155, 153, 153);
    border-radius: 4px;
}
.close{
    color:rgb(14, 13, 13);
    text-decoration-line: line-through;
   


}
